.pageContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.contentContainer{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    text-align: center;
    padding: 14px;
   /* margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;*/
    /*min-height: 75vh;
    position: relative;*/
}
header{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    background-color: rgb(143,172,204);
    color: white;
    opacity: 0.9;
    padding: 2rem 2rem;
    text-align: center;
  }

/*Font sizes*/
h1{
    font-size: 4vw;
}
h2{
    font-size: 3vw;
}
h3{
    font-size: 2vw;
}
/*Placeholder colors*/
::placeholder{
    color: rgb(39, 39, 39) !important;
    font-size: 1.2rem;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(39, 39, 39) !important;
    font-size: 1.2rem;
}
::-webkit-input-placeholder { /* Edge */
    color: rgb(39, 39, 39) !important;
    font-size: 1.2rem;
}

.container {
    opacity: 0.9;
    padding: 2rem 2rem;
    text-align: center;
}
/*Frontpage container for the search bar and texts*/
.weather.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    margin-top:3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    width: 60%;

    background-color: white;
    opacity: 0.92;
    color: black;
    border-radius: 10px;
}
.weather.container h4{
    margin-top: 4rem;
}

/*Frontpage search bar*/
.mr-sm-2.form-control{
    border: 1px solid black;
    color: black;
}

/*Frontpage container for the suggested cities*/
#cityContainer{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-shrink: 1;
    margin-bottom: 3rem;
 }
#cityContainer button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    background-color: transparent;
}

 #cityContainer img{
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
 }

/*Current weather and the search bar*/
.weather2.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 2rem;
}

/*The weather of today*/
.currentWeather{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 5px;
    width: 75%;
    background-color: white;
    opacity: 1;
}
#weatherMoreDetails{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem 2rem 2rem 2rem;
}
#weatherMoreDetails img{
    margin: 1rem;
}
#weatherTemperature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 2rem 5rem 2rem;
}
#weatherTemperature .col{
    padding-top: 10%;
}

/*Weather cards*/
.weathercards.container{
    background-color: white;
    width: 80%;
    border-radius: 5px;
}
#cardContainer{
   background-color: white;
   display: flex;
   justify-content: center;
   flex-flow: row wrap;
   flex-shrink: 1;
}
.futureForecast{
    margin: 1rem 3rem;
}

/*Weather images*/
.image{
    margin-right: 0.3rem;
    margin-left: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
}
.currentWeatherImage{
    margin-right: 0.3rem;
    margin-left: 0.5rem;
    width: 10rem;
    height: 10rem;
}
.futureForecast img{
    width: 2.5rem;
    height: 2.5rem;
}

/*Search bar*/
.form-inline{
    text-align: center;
    justify-content: center;
    width: 90%;
}
.mr-sm-2.form-control{
    width: 70%;
}
/*Search component's button*/
.btn.btn-primary{
    background-color: transparent !important;
    color: transparent !important;
    border: 0px solid transparent;
}

/*Footer*/
footer{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    text-align: center;
    padding: 2rem;
    background-color: rgb(143,172,204);
    opacity: 0.9;
    color: white;
    width: 100%;
  }